{% extends 'base.html' %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="auth_page">
    <div class="auth_box">
        <div class="auth_title">Сброс пароля</div>
        <div class="auth_subtitle">Введите email, и мы отправим ссылку для восстановления</div>

        <form method="post">
            {% csrf_token %}
            <div class="form_group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit" class="btn_steam_green">Отправить ссылку</button>
        </form>
    </div>
</div>
{% endblock %}